@font-face {
  font-family: 'ProximaNova CF';
  src: url('./ProximaNovaCF-semibold.otf') format('otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova CF';
  src: url('./ProximaNovaCF-medium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova CF';
  src: url('./ProximaNovaCF-regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}