.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: rem(30px);
  align-items: center;

  @media (max-width: 928px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
