.wrapper {
  width: fit-content;

  display: flex;
  align-items: center;
  gap: rem(8px);

  text-decoration: none;
  color: var(--mantine-color-gray-blue-5);
  font-size: rem(20px);
}

.text {
  text-decoration: none;
  font-weight: 600;
}

.icon {
  flex-shrink: 0;
}
