.headerAppContainer {
  padding-top: 20px;
  /* width: 100vw; */
  width: 100%;
}

.headerAppContainerHomePage {
  position: absolute;

  & .header {
    background-color: transparent;
  }
}

.header {
  padding: 20px;
  background-color: var(--mantine-color-gray-blue-5);
  border-radius: 60px;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.growable {
  @mixin larger-than $mantine-breakpoint-lg {
    flex: 1;
  }
}

.menuItem {
  color: var(--mantine-color-gray-blue-9);

  @mixin hover {
    color: var(--mantine-color-gray-blue-5);
  }
}