.navLink {
  color: var(--mantine-color-gray-blue-0);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  transition: 0.2s color ease-out;

  @mixin hover {
    text-decoration: none;
    color: var(--mantine-color-gray-blue-2);
  }
} 